body  { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#000000; }

input    { font-family:Courier; font-size:10pt; color:#000000; }
input[type=\"submit\"] { font-family:Verdana, Geneva, sans-serif; }

.header a:link { color:#000000; text-decoration:none; }

.hnpanel {width:80em; margin:0em auto 10em; background:#f6f6ef; }
.header { padding:0.5em; background:#ff6600; margin:0 auto; overflow:hidden;}
.header a { color:#000; }
.title { font-weight:bold; }
.navlinks { float:right; }

.content { padding:0em 0.5em 0.5em 0.5em; }
