<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HN Notifications</title>
        <link href="/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="hnpanel">
            <div class="header">
                <a href="/"><span class="title">HN Notifications</span></a>
                <div class="navlinks">
                    <a href="/#">About</a> | <a href="/settings">Settings</a>
                </div>
            </div>
            <div class="content">
                <h4>{{.}}</h4>
            </div>
        </div>
    </body>
</html>
